.bash_history
.config/git/
.config/ibus/
.config/lf/
.config/mpv/osc.conf.bak
.config/mpv/shaders
.config/btop/btop.log
.config/dconf/
.config/fcitx/
.config/mpd/*
!.config/mpd/mpd.conf
.config/ncmpcpp/*
!.config/ncmpcpp/bindings
!.config/ncmpcpp/config
.config/pulse/
.config/rtorrent/*
!.config/rtorrent/rtorrent.rc
.config/sway/config1.bak
.config/sway/scripts/*
!.config/sway/scripts/update-mako.theme.sh
.config/sway/config.d/output
.config/sway/config.d/bar
.config/sway/config.d/keybind
.config/sway/config.d/color
!.config/sway/scripts/app-switch.sh
!.config/sway/scripts/brightness.sh
!.config/sway/scripts/brightnesscontrol.sh
!.config/sway/scripts/volume.sh
!.config/sway/scripts/fcitx5-pywal.sh
!.config/sway/scripts/random-wallpaper.sh
!.config/sway/scripts/select-wallpaper.sh
!.config/sway/scripts/refresh.sh
.config/wal/colorschemes/
.config/wal/templates/colors-wmenu-sh
.config/mako/config
.config/mako/icons/config.default
