# Bar
# include $HOME/.cache/wal/colors-sway

# bar {
    # status_command i3blocks
    # position top
    # separator_symbol " | "

    # When the status_command prints a new line to stdout, swaybar updates.
    # The default just shows the current date and time.
    # status_command while date +'%_I:%M'; do sleep 1; done

    # colors {
    	# font pango:Source Sans 3 Semibold 11
        # focused_workspace  $color1 $color1 #eeeeee
        # statusline #eeeeee
    	# separator $color1
        # background $backgroundCC
        # inactive_workspace $color180 $color180 #5c5c5c
        # inactive_workspace #32323280 #32323280 #5c5c5c
	# active_workspace #323232 #323232 #eeeeee
    # }
# }


